body {
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
      font-weight: 100;
      text-transform: uppercase;
      font-family: 'futura-pt', sans-serif;
      color: #f5f5f5;
      letter-spacing: 1;
}

#Widget {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 375px;
      height: 667px;
}

#L {
      position: absolute;
      top: 10%;
      right: 0%;
      width: 82%;
      height: 0.15%;
      z-index: 0;
      background-color: rgba(243, 151, 162, 0.7);
      box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

#hour {
      position: absolute;
      top: 6.5%;
      left: 0%;
      width: 20%;
      text-align: center;
      z-index: 50;
      font-size: 7vmin;
      font-family: 'futura-pt', sans-serif;
      color: rgba(243, 151, 162, 0.7);
}

#minute {
      position: absolute;
      top: 10.7%;
      left: 0%;
      width: 20%;
      text-align: center;
      z-index: 50;
      font-size: 7vmin;
      font-family: 'futura-pt', sans-serif;
}

#Cal {
      position: absolute;
      top: 7.3%;
      right: 6%;
      width: 100%;
      text-align: right;
      z-index: 10;
      font-size: 3.2vmin;
}

#weekday {
      text-transform: capitalize;
}

#Weather {
      position: absolute;
      top: 11%;
      right: 6%;
      width: 100%;
      text-align: right;
      z-index: 10;
      font-size: 3.2vmin;
      text-transform: capitalize;
}