* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url('../images/background.jpeg');
  background-size: cover;
}

@font-face {
  font-family: 'futura-pt-light';
  src: url('../fonts/FuturaPTLight.otf');
}
@font-face {
  font-family: 'futura-pt-book';
  src: url('../fonts/FuturaPTBook.otf');
}
@font-face {
  font-family: 'futura-pt-medium';
  src: url('../fonts/FuturaPTMedium.otf');
}

#time,
#date,
#battery,
#title,
#artist,
#artwork,
#weather,
#dots,
#track-time {
  position: absolute;
  font-family: 'futura-pt-light';
  color: #dbdfe1;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #2d3234;
}

#time,
#date {
  bottom: 0;
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time {
  left: 0;
}

#date {
  right: 0;
}

#battery,
#weather {
  top: 5px;
  font-size: 10px;
  width: 80px;
  text-align: center;
}
#weather {
  left: 10px;
}
#temp {
  margin-right: -2px;
}
#battery {
  right: 10px;
}

#charge {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/charge.png');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.25;
}

.animate-charging {
  display: block !important;
  animation: charging 2s ease 0s infinite;
}

@keyframes charging {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.125);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

#artwork {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-image: url('../images/albumart.jpg');
  bottom: 235px;
  left: 140px;
  -webkit-mask-image: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 75%
  );
}
#title,
#artist {
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
#title {
  bottom: 75px;
}
#artist {
  bottom: 46px;
}

#play,
#next,
#prev {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 10;
}
#play {
  bottom: 110px;
  left: 177px;
}
#next,
#prev {
  bottom: 60px;
}
#prev {
  left: 60px;
}
#next {
  right: 60px;
}
#dots {
  bottom: 19px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#animated-dot {
  width: 7px;
  height: 7px;
  margin: 0 1px;
  animation: dot 3s ease 0s infinite;
}
@keyframes dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
#animated-dot-2 {
  width: 7px;
  height: 7px;
  margin: 0 1px;
  animation: dot-2 3s ease 0s infinite;
}
@keyframes dot-2 {
  0% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}
